* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #0c101a;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  background-image: url(./maximalfocus-VT4rx775FT4-unsplash.jpg);
  width: 100vw;
  height: 25vh;
  display: flex;
  background-size: 100vw;
}

.form-header {
  text-align: center;
  background-color: #082038;
  border-radius: 3px;

  width: 100%;
  padding: 50px;
}

.signup-form {  
  width: 80%;
  padding: 50px;
}

p {
  padding: 1em 0;
}

.form-row {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row label {
    padding-bottom: 15px;
  }

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #2e89a7;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  body {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
  }

  .image {
    background-image: url(./maximalfocus-VT4rx775FT4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:40vw;
    height: 175vh;
  }

  .form-area {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    padding-bottom: 20px;
  }

  .form-row input {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: left;
    width: 200px;
    padding-top: 7px;
    padding-right: 20px;
  }
}