* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #0c101a;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  color: #FFFFFF;
}

.image {
  background-image: url(./maximalfocus-VT4rx775FT4-unsplash.jpg);
  width: 100vw;
  height: 25vh;
  display: flex;
  background-size: 100vw;
}

.form-header {
  text-align: center;
  background-color: #082038;
  border-radius: 3px;

  width: 100%;
  padding: 50px;
}

.signup-form {  
  width: 80%;
  padding: 50px;
}

p {
  padding: 1em 0;
}

.form-row {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row label {
    padding-bottom: 15px;
  }

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #2e89a7;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.signup-form input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

.signup-form input:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

.signup-form input:invalid + label {
    color: #b92326;
}

.signup-form input:valid + label {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

.signup-form input:focus:invalid + label:after {
    content: " (" attr(data-help) ")";
}
.signup-form input:invalid + label:after {
    content: " (" attr(data-help) ")";
}
.signup-form input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}
.signup-form input:focus:valid {
    border: 1px solid #8BC34A;
    background-color: transparent;
}
.signup-form input:valid + label {
    color: #8BC34A;
}

.signup-form input:placeholder-shown {
    background-color: transparent;
    border: 1px solid #d8d8d8;
}
.signup-form input::placeholder {
    color: #3c3c3c;
}

.error-message {
  display: none;
  font-weight: bold;
  color: red;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block; 
}

.red {
  font-weight: bold;
  color: red;
}

@media only screen and (min-width: 700px) {
  body {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
  }

  .image {
    background-image: url(./maximalfocus-VT4rx775FT4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:40vw;
    height: 175vh;
  }

  .form-area {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    padding-bottom: 20px;
  }

  .form-row input {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: left;
    width: 200px;
    padding-top: 7px;
    padding-right: 20px;
  }
}